body{
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
    background-size: cover;
    background-attachment: fixed;
}
ul{
    list-style: none;

    padding: 0;
    margin: 0;
}

.ul-list>ul>li{
    /* float: left; */
    display: inline-block   ;

    padding: 10px;
}
.ul-list>ul>li:nth-child(-n+4):hover{
    background-color: gray;
    color: black;
}
.ul-list>ul>li>a{
    text-decoration: none;
}
.userInfo{
    display: inline-block;

    width: 200px;

    margin-left: 100px;
    text-align: center;
}


.topic{
    width: 100%;

    text-align: center;
}


.introduce{
    border: 3px solid #4D38B3;
    box-sizing: inherit;
    padding:25px 25px;
}
.title{
    font-size: 30px;
    text-align: center;
}
.rule{
    margin-top: 15px;
    font-size: 20px;
}


.container{
    width: 100%;

    text-align: center;
}

.card{
    width: 300px;
    min-height: 100px;

    box-shadow: 0 0 6px #ccc;
    border-radius: 4px;

    margin: 10px;
    padding: 10px;

    display: inline-block;

    background-color: white;

    text-align: left;
}
.card:hover{
    border: 1px solid gray;
}

.pict{
    width: 300px;
    height: 250px;

    transition: transform 1s;
}
.pict:hover{
    transform: scale(1.5)
}

.text{
    vertical-align: top;
}

.totalVote{
    display: inline-block;

    width: 100px;
    height: 30px;

    border: 1px solid green;
}
.vote{
    width: 0px;
    height: 30px;

    background-color: #fbc2eb;

    transition: width 1s;
}
.num{
    display: inline-block;

    margin-left: 10px;

    /* border: 1px solid yellow; */

    vertical-align: top;
}


.submit{
    margin-top: 10px;

    width: 100%;
    height: 30px;

    background-color: aqua;

    border: none;
}
.submit:hover{
    background-color: aquamarine;
}

.info{
    position: fixed;

    top: 50px;
    left: 50%;
    margin-left: -50px;

    width: 100px;
    height: 50px;

    text-align: center;
    line-height: 50px;

    background-color: #fbc2eb;
    color: black;

    opacity: 0;
}

.side-bar{
    position: fixed;

    right: 0;
    top: 0;
    bottom: 0;

    width: 50px;
}
.side-ul{
    margin-top: 200px;
}
.side-li{
    width: 50px;
    height: 50px;

    position: relative;

    background-image: url('../images/优惠券.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
}
.voteNum{
    position: absolute;

    right: 0;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: red;

    text-align: center;
    line-height: 20px;
}